certifi==2024.8.30
charset-normalizer==3.3.2
freetype-py==2.5.1
glfw==2.7.0
hsluv==5.0.4
idna==3.10
kiwisolver==1.4.7
numpy==2.1.1
p5==0.8.4
Pillow==9.0.1
pybind11==2.13.6
PyOpenGL==3.1.6
PyOpenGL-accelerate==3.1.7
requests==2.32.3
skia-python==87.6
urllib3==2.2.3
vispy==0.10.0
